.diving {
  min-height: 100vh;
  background-color: #f7f7f6;
  color: white;
  font-size: 14px;
}

.diving-paper {
  margin: 10px 5px;
  padding: 5px;
  overflow-x: auto;
  color: #333;
}

.diving-main {
  min-height: 65vh;
  background-color: #373e5d;
}
.diving-search {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 610px;
  margin-left: -305px;
  margin-top: -60px;
}

.diving-loading-tips {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.diving-infos table tbody tr:nth-child(2n + 1) {
  background-color: #fafafa;
}

.diving-command {
  position: absolute;
  width: 500px;
  line-height: 32px;
  padding: 15px;
  margin-top: 50px;
  z-index: 9;
  max-height: 500px;
  overflow-y: auto;
}

.diving-detail p {
  margin: 0;
  line-height: 32px;
}

.diving-detail p span {
  margin-left: 5px;
}

.diving-control {
  border-bottom: 1px solid #e0e0e0;
  padding: 0 10px 15px 10px;
  margin-bottom: 10px;
}

.diving-file-tree-item {
  font-size: 16px;
}
.diving-file-tree-item > span {
  display: inline-block;
  line-height: 26px;
  margin-right: 15px;
}

.diving-file-tree-item .mode {
  width: 100px;
}

.diving-file-tree-item .ids {
  width: 80px;
  text-align: right;
}

.diving-file-tree-item .size {
  width: 100px;
  text-align: right;
}
