.diving {
  min-height: 100vh;
  background-color: rgb(240, 242, 245);
  color: white;
  font-size: 14px;
  /* visibility: hidden; */
}

.diving-cache-images {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.65);
  padding: 10px;
  border: 1px solid #ebedf0;
}

.diving-header {
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  overflow: hidden;
}
.diving-logo {
  float: left;
  position: relative;
  height: 64px;
  padding: 0 48px 0 24px;
  overflow: hidden;
  line-height: 64px;
  transition: all .3s;
  background: #002140;
}
.diving-logo h1 {
  display: inline-block;
  margin: 0 0 0 12px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
  vertical-align: middle;
}
.diving-logo h1 span {
  margin-left: 15px;
  font-size: 16px;
}

.diving-cache-image {
  border-bottom: 1px solid #ebedf0;
  padding-bottom: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.diving-cache-image:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.diving-search-wrapper {
  background-color: #373e5d;
  min-height: 70vh;
}
.diving-search {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 610px;
  margin-left: -305px;
  margin-top: -60px;
}

.diving-detail-info {
  padding: 24px;
}

.diving-row {
  margin-left: -12px;
  margin-right: -12px;
}
.diving-row-col {
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 24px;
}

.diving-basic-info span {
  height: 22px;
  color: rgba(0,0,0,.85);
  font-size: 14px;
  line-height: 22px;
}
.diving-basic-info p {
  height: 38px;
  margin-top: 4px;
  margin-bottom: 0;
  overflow: hidden;
  color: rgba(0,0,0,.85);
  font-size: 30px;
  line-height: 38px;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.diving-file-type-proportion {
  height: 16px;
  overflow: hidden;
}

.diving-file-tree-color {
  float: right;
  color: #999;
  font-size: 12px;
}
.diving-file-tree-color span {
  margin-right: 10px;
}

