.diving {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 14px;
}

.diving-search {
  position: fixed;
  top: 50%;
  margin-top: -60px;
}

.diving-loading-tips {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.diving-infos {
  margin: 5px;
  padding: 5px;
  overflow-x: auto;
  color: #333;
}

.diving-infos table tbody tr:nth-child(2n + 1) {
  background-color: #fafafa;
}

.diving-command {
  position: absolute;
  width: 500px;
  line-height: 32px;
  padding: 15px;
  margin-top: 50px;
  z-index: 9;
  max-height: 500px;
  overflow-y: auto;
}

.diving-detail p {
  margin: 0;
  line-height: 32px;
}

.diving-detail p span {
  margin-left: 5px;
}
